<h1>Productos en tiempo real</h1>
<form id="addProductForm">
    <input name="name" placeholder="Nombre" required>
    <input name="price" placeholder="Precio" type="number" required>
    <button type="submit">Agregar producto</button>
</form>
<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>